body {
    background-color: #95A5A6;
}

.homeLog {
    float: right;
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 15px;
}

.home {
    
}

.log {
    padding-left: 10px;
}

.customer {
    padding-top: 50px;
}